@model IEnumerable<MixRepository.Models.CathodeMix>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Binder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Binder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
